<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<mat-slide-toggle class="slide" [checked]="checked1" (click)="onEnter()">A/UA</mat-slide-toggle>


<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
<ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let list"  (click)="getMovie(list)">{{ list.title }} {{list.id}}</td>
    </ng-container>
    <ng-container matColumnDef="popularity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Popularity</th>
        <td mat-cell *matCellDef="let list" >{{ list.popularity }}</td>
      </ng-container>
      <ng-container matColumnDef="release_date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Release Date</th>
        <td mat-cell *matCellDef="let list" >{{ list.release_date }}</td>
      </ng-container>
      <ng-container matColumnDef="backdrop_path">
        <th mat-header-cell *matHeaderCellDef > ImageUrl </th>
        <td mat-cell *matCellDef="let list">
          <img class="center-block img-responsive"
            [style.height.px]="100"
            [style.margin.px]="2"
            [src]="'https://image.tmdb.org/t/p/w342'+list.backdrop_path"
            [title]="list.title">
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="movieCol"></tr>
  
    <tr mat-row *matRowDef="let row; columns: movieCol;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
